<footer>
<nav class="round">
<ul>
<%= link_to "About", about_path %> |
<%= link_to "Contact", contact_path %> |
<%= link_to "Help", help_path %> |
<a href="public.index">Home</a> |

</nav>
</footer>

